:root {
    --backgroundColor: #0f0f0f;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    background-color: var(--backgroundColor);
    color: white;
    margin: 0;
    padding: 0;
}

canvas#app {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}
