
:root {
    --accentColor: #795548;
    --backgroundColor: #242424;
    --dividerColor: #bdbdbd;
    --primaryColor: #009688;
    --primaryText: white;
    --secondaryText: #757575;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    background-color: var(--backgroundColor);
    color: white;
    margin: 0;
    padding: 0;
}

canvas#canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@media (prefers-color-scheme: light) {
    :root {
        --backgroundColor: white;
        --primaryText: #212121;
    }
}